.button {
    position: relative;
    border-radius: 4px;
    border: 1px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
    @include transition;
    &--logout {
        padding: 6px 15px;
        font-weight: $bold;
        font-size: $smaller;
        border-color: $accent;
        color: $accent;
        background: transparent;
        @include mobile {
            border: none;
        }
    }
    &--upload {
        padding: 4px 20px 12px;
        font-size: $small;
        color: $text-light;
        border-color: $text-pale;
        text-transform: none;
        i {
            position: relative;
            color: $text-pale;
            top: 3px;
            font-size: 28px;
            margin-right: 10px;
        }
    }
    &--save,
    &--cancel {
        padding: 12px 30px;
        font-weight: $bold;
        margin-right: 20px;
        @include mobile {
            float: right;
            padding: 6px 15px;
            bottom: 35px;
            margin-right: 0;
            margin-left: 10px;
        }
        &:hover {
            opacity: .8;
        }
    }
    &--save {
        background: $accent;
        color: $white;
    }
    &--cancel {
        background: $white;
        color: $accent;
        border-color: $accent;
    }
    &--edit {
        font-size: $big;
        position: absolute;
        top: 0;
        right: 0;
        background: #ecf1f5;
        height: 46px;
        width: 46px;
        line-height: 46px;
    }
    &--logout, &--edit {
        &:hover {
            background: $accent;
            color: $white;
        }
    }
}