.content {
    @include grid-column(10);
    @include grid-push(1);
    @include tablet {
        @include grid-column(12);
    }
    @include mobile {
        width: 100%;
        margin: 15px 0;
        padding: 45px 22px;
    }
    clear: both;
    box-sizing: border-box;
    position: relative;
    padding: 45px 40px;
    margin-bottom: 100px;
    height: auto;
    box-shadow: $shadow;
    background: $white;
}