.cover {
    text-align: center;
    margin-top: 75px;
    &__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    @include mobile {
        .button--upload {
            display: none;
        }
    }
}