.detail {
    position: relative;
    background: #f5f8f8;
    margin-top: 2px;
    width: 300px;
    height: 46px;
    padding-left: 10px;
    @include mobile {
        background: transparent;
        width: auto;
        height: 36px;
        padding-left: 0;
        .button--edit {
            display: none;
        }
    }
    &__name {
        line-height: 46px;
    }
    &__website,
    &__phone,
    &__location {
        font-size: $small;
        line-height: 46px;
        &:before {
            font-family: 'Ionicons';
            font-size: 18px;
            margin-right: 10px;
            color: #a8b8c4;
        }
    }
    &__website:before {
        content: "\f276";
    }
    &__phone:before {
        content: "\f4b8";
    }
    &__location:before {
        content: "\f447";
    }
}