.followers {
    font-size: $smaller;
    color: $text-light;
    i {
        position: relative;
        top: 3px;
        font-size: 24px;
        margin-right: 10px;
        @include transition;
        &:hover {
            color: $accent;
        }
    }
    &__count {
        &--number {
            line-height: 60px;
            font-size: 14px;
            color: $text-dark;
        }
    }
    &:hover &__caption {
        visibility: visible;
        opacity: 1;
    }
}