.header {
    @include grid-column(10);
    @include grid-push(1);
    @include tablet {
        @include grid-column(12);
    }
    @include mobile {
        width: 100%;
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
    }
    box-sizing: border-box;
    position: relative;
    padding: 0 22px;
    background: $white;
    border-radius: 3px;
    height: 300px;
    margin-top: 71px;
    margin-bottom: 40px;
    overflow-x: hidden;
    &__auth,
    &__cover,
    &__photo,
    &__user,
    &__followers,
    &__nav {
        position: absolute;
    }
    &__auth {
        right: 22px;
        top: 22px;
        z-index: 2;
    }
    &__cover {
        width: calc(100% + 44px);
        height: 100%;
        top: 0;
        left: 0;
    }
    &__photo {
        bottom: 22px;
        z-index: 2;
        @include mobile {
            position: relative;
            margin-top: 75px;
        }
    }
    &__user {
        width: calc(100% - 247px);
        left: 225px;
        bottom: 75px;
        z-index: 2;
        @include mobile {
            width: 100%;
            left: 0;
            position: relative;
            bottom: auto;
            padding: 0 22px;
        }
    }
    &__followers {
        display: inline-block;
        right: 22px;
        bottom: 0;
        z-index: 3;
        @include mobile {
            position: relative;
            display: block;
            left: 22px;
            top: 6px;
        }
    }
    &__nav {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        @include mobile {
            position: relative;
        }
    }
}

.auth__popup, .followers__caption {
    background: $white;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 50px;
    right: 0;
    white-space: nowrap;
    @include transition;
    &--text {
        padding: .5em 1em;
        border: 1px solid $text-pale;
        border-radius: 4px;
    }
}
.auth__popup {
    top: 40px;
    bottom: 0;
}