.form {
    box-sizing: border-box;
    background: $white;
    display: none;
    opacity: 0;
    width: 100%;
    padding: 80px 22px 40px;
    position: relative;
    @include transition;
    @include mobile {
        &.active {
            display: block;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__group {
        position: relative;
        margin: 20px 0 20px;
        @include mobile {
            margin-top: 40px;
        }
        &--label {
            color: $text-light;
            font-size: 1em;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            @include transition;
        }
        &--input {
            font-size: 1em;
            padding: 8px 0;
            display: block;
            width: 100%;
            color: $text-light;
            border-bottom: 1px solid $gray;
            &:focus~label,
            &:valid~label {
                top: -20px;
                font-size: $small;
                color: $gray;
                text-transform: uppercase;
            }
        }
        &--bar {
            position: absolute;
            display: block;
            width: 100%;
            &:before,
            &:after {
                content: '';
                height: 1px;
                width: 0;
                bottom: 0;
                position: absolute;
                background: $accent;
                @include transition;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }
        &--input:focus ~&--bar {
            &:before,
            &:after {
                width: 50%;
            }
        }
        &--highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
        &--input:focus ~&--highlight {
            animation: inputHighlighter 0.3s ease;
        }
    }
}

@-webkit-keyframes inputHighlighter {
    from {
        background: $accent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: $accent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: $accent;
    }
    to {
        width: 0;
        background: transparent;
    }
}