.nav {
    position: relative;
    background: $white;
    box-shadow: $shadow;
    margin-left: 225px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    line-height: 58px;
    @include tablet {
        overflow-x: scroll;
        max-width: 300px;
    }
    @include mobile {
        margin-top: 10px;
        margin-left: 0;
        overflow-x: scroll;
        width: 100%;
    }
    &__item {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 30px;
        border-bottom: 2px solid transparent;
        @include transition;
        &.active, &:hover {
            border-bottom: 2px solid $accent;
        }
        @include mobile {
            &--first {
                margin-left: 22px;
            }
        }
    }
}