.photo {
    @include flex-center;
    width: 170px;
    height: 170px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(#000, .15);
    @include mobile {
        width: 128px;
        height: 128px;
        position: relative;
        margin: 30px auto 0;
    }
    &__avatar {
        width: auto;
        height: 100%;
    }
}