.rating {
    float: left;
    margin-right: 30px;
    margin-top: 3px;
    font-size: $big;
    @include mobile {
        clear: both;
        display: block;
    }
    &__icon {
        float: right;
        padding-left: 4px;
        cursor: pointer;
        color: $text-light;
        @include mobile {
            color: $accent
        }
        &:hover {
            &:before,
            ~ .rating__icon:before {
                content: "\f2fc";
            }
        }
    }
    &__input {
        display: none;
        &:checked ~ .rating__icon:before {
            content: "\f2fc";
        }
    }
    &__reviews {
        display: inline-block;
        font-size: $smaller;
        font-weight: $medium;
        @include mobile {
            display: block;
            clear: both;
            margin: 4px;
        }
    }
}