.tab {
    display: none;
    position: relative;
    background: $white;
    &--current {
        display: block;
    }
    &__title {
        color: $text-light;
        z-index: 4;
        display: inline-block;
        clear: both;
        position: relative;
        margin-bottom: 35px;
    }
    &__edit {
        position: absolute;
        top: -22px;
        right: 0;
        display: none;
        @include mobile {
            display: block;
        }
    }
}