.user {
    &__name {
        line-height: $line-height;
        @include mobile {
            text-align: center
        }
    }
    &__location,
    &__phone {
        display: block;
        float: left;
        clear: left;
        margin-top: .5em;
        font-size: $small;
        &:before {
            font-family: 'Ionicons';
            font-size: 18px;
            margin-right: 10px;
            color: $text-light;
        }
    }
    &__location:before {
        content: "\f455";
    }
    &__phone:before {
        content: "\f4b8";
    }
    &__rating {
        display: inline-block;
        color: $text-light;
        position: absolute;
        width: auto;
        top: 0;
        right: 0;
        @include mobile {
            position: relative;
            display: block;
            clear: both;
            top: 10px;
        }
    }
}