@import "neat";
@import "base/_reset";
@import "helpers/_variables";
@import "helpers/_mixins";
@import "components/_header";
@import "components/_content";
@import "components/_tab";
@import "components/_detail";
@import "components/_buttons";
@import "components/_cover";
@import "components/_user";
@import "components/_photo";
@import "components/_nav";
@import "components/_followers";
@import "components/_rating";
@import "components/_popup";
@import "components/_inputs";

body {
    width: 100%;
    height: 100%;
    line-height: $line-height;
    background: $background;
    font-family: $font;
    color: $text-dark;
    overflow: auto;
    @include grid-container();
}

.active {
    visibility: visible;
    opacity: 1;
}